[Unit]
Description=Reverse Project - Buzzer Service
After=network.target

[Service]
Type=simple
ExecStart=<PROJECT_DIR>/BuzzerService
WorkingDirectory=<PROJECT_DIR>
Restart=on-failure
PrivateTmp=no
NoNewPrivileges=false

[Install]
WantedBy=multi-user.target
